@CHARSET "UTF-8";

.messagesPanel {
	width: 80%;
	float: left;
	position: relative;
	border-radius: 0;
	margin-bottom: 0;
	margin-left: 30px;
	margin-top: 12px;
	border: 0;
}

.messagesPanel table {
	width: 100%;
}